@use "../1-abstracts/" as *;
.main-body {
    &__container {
        position: relative;
        overflow-y: scroll;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient($dark-blue-transparent, $dark-blue-transparent), url("../assets/jpg/background.jpg");
        background-size: cover;
        padding: $s;
    }
    &__navigation-buttons {
        position: fixed;
        left: 50%;
        bottom: $m;
        transform: translateX(-50%);
        @include flexbox(row,
        center,
        center);
    }
    &__navigation-button {
        display: block;
        width: $s;
        height: $s;
        border: 4px solid $white;
        margin: auto $xs;
        &.active {
            background-color: $white;
        }
    }
}