@use "../1-abstracts/" as *;
.button-special {
    position: relative;
    display: inline-block;
    width: 12em;
    padding: $xs 0;
    text-align: center;
    font: bold 1rem "Montserrat", sans-serif;
    color: $white;
    background-image: linear-gradient(to right, $light-blue-transparent, $green-transparent);
    background-size: 200%;
    background-position: left;
    clip-path: polygon(0 1em, 1em 0, 11em 0, 12em 1em, 11em 2em, 1em 2em);
    transition: background-position 0.5s ease;
    &:hover {
        background-position: right;
    }
}