@use "../1-abstracts/" as *;
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat_regular.woff2") format("woff2"), url("../assets/fonts/montserrat_regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat_bold.woff2") format("woff2"), url("../assets/fonts/montserrat_bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Squada One";
    src: url("/assets/fonts/squadaone.woff2") format("woff2"), url("/assets/fonts/squadaone.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    font: 400 125%/1 "Montserrat", sans-serif;
    letter-spacing: 0.25em;
}

a {
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
     :hover {
        cursor: pointer;
    }
}